:root{
  --lb-main-color:#1F3BB3;
  --lb-white:#fff;
  --lb-black:#000;
  --lb-light-grey:#f8f8f8;

}
*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.back-img{
  background-image: url(../image/bg.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card{
  width: ""; 
  height: auto;
  margin: "";
  border: none;
  border-radius:11px;
  padding: 30px 10px 10px 10px;
  background-color: ghostwhite;
}
/*info-section*/
.nav-section{
  background-color:var(--lb-main-color);
  color:var(--lb-white) ;
  padding: 7px 0px 5px 0px;
}
/*navbar-section*/
.navbar-section{
 background-color: var(--lb-light-grey); 
}
.navbar-logo img{
  height:50px;
  width:150px;
}
.navbar-nav .nav-item{
  margin-left: 35px;
}
.navbar-nav .nav-item:hover{
  border-bottom:2px solid var(--lb-main-color);
  transition: 0.2s;
}
input.form-control{
 border: none;
 border-bottom: 1.5px solid;
 /* background-color: var(--lb-light-grey); */
}
input.form-control:hover{
  border: 1px solid var(--lb-black);
  /* background-color: var(--lb-light-grey); */
 }
.account a{
 text-decoration: none;
 color:var(--lb-black);
 font-size: 21px;
}
.cart a{
  text-decoration: none;
  color:var(--lb-black);
  font-size:21px;
}
/*main slider*/
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height:100vh;
  object-fit: cover;
}

.swiper .swiper-slide {
  height:500px;
  line-height: 500px;
}

.swiper .swiper-slide:nth-child(n) {
  height:500px;
  line-height: 500px;
}
/*category*/
.img-top{
  width:243px;
  height:250px;
}

/*product*/
.product .card{
  border: 0.5px solid var(--lb-light-grey);
}
.card .card-body p.rating{
  background-color: var(--lb-main-color);
  color: var(--lb-white);
  width:70px;
  text-align: center;
  border-radius: 11px;
  padding: 2px 3px;
  margin-top: 0.5rem;

}
.card .card-body p i{
  font-size:10px;
}
.filter{
  width: auto;
  height: auto;
  border:2px solid var(--lb-light-grey);
  padding: 2px;

}
.filter .form-select{
  border: none;
  border-bottom: 1px solid var(--lb-light-grey);
}

/*footer*/
.footer{
 background-color: var(--lb-light-grey); 
 padding:25px 0px 5px 0px ;
}