:root{
  --lb-main-color:#1F3BB3;
  --lb-white:#fff;
  --lb-black:#000;
  --lb-light-grey:#f2eded;

}
*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color:; 
}
.card{
  width:; 
  height: auto;
  margin: ;
  border: none;
  border-radius:11px;
  padding: 30px 10px 10px 10px;
}
/*info-section*/
.nav-section{
  background-color:var(--lb-main-color);
  color:var(--lb-white) ;
  padding: 7px 0px 5px 0px;
}
/*navbar-section*/
.navbar-section{
 background-color: var(--lb-light-grey); 
}
.navbar-logo img{
  height:50px;
  width:150px;
}
.navbar-nav .nav-item{
  margin-left: 35px;
}
.navbar-nav .nav-item:hover{
  border-bottom:2px solid var(--lb-main-color);
  transition: 0.2s;
}
input.form-control{
 border: none;
 border-bottom: 1.5px solid;
 background-color: var(--lb-light-grey);
}
input.form-control:hover{
  border: 1px solid var(--lb-black);
  background-color: var(--lb-light-grey);
 }
.account a{
 text-decoration: none;
 color:var(--lb-black);
 font-size: 21px;
}
.cart a{
  text-decoration: none;
  color:var(--lb-black);
  font-size:21px;
}
/*main slider*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
