:root{
  --lb-main-color:#1F3BB3;
  --lb-white:#fff;

}
*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color:; 
}
.card{
  width:; 
  height: auto;
  margin: ;
  border: none;
  border-radius:11px;
  padding: 30px 10px 10px 10px;
}
/*nav-section*/
.nav-section{
  background-color:var(--lb-main-color);
  color:var(--lb-white) ;
  padding: 7px 0px 5px 0px;
}